<% if (config.toc) {
    var topic = toc(post.content, {
        class: 'post-toc',
        list_number: theme.toc.list_number
    })
    if(topic) {
%>
<aside class="article-toc t260p" id="article-toc">
    <h4><%= __('toc') %></h4>
    <%- topic %>
</aside>
<% }
} %>
